// 颜色定义规范
$color-background = #d43c33
$color-highlight-background = #dd001b
$color-theme = #333

$color-sub-theme = #d93f30
$color-text = #333
$color-text-light = #444


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px