
// [class^="icon-"], [class*=" icon-"]
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'music-icon' !important
//   speak: none
//   font-style: normal
//   font-weight: normal
//   font-variant: normal
//   text-transform: none
//   line-height: 1

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased
//   -moz-osx-font-smoothing: grayscale


@import 'http://at.alicdn.com/t/font_1621469_al4hf3dkenk.css'